body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

h1 {
	text-align: center
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
}

.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}

.margin10 {
	margin: 10px;
}

.mgtop50 {
	margin-top: 50px;
}

.fontmedium {
	font-weight: bold;
	font-size: 16px;
}