<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>QR code</title>

<link type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet" />

</head>
<body>
	<div class="container">
		<div class="row">
			<div id="qr" class="col col-md-10">
				<p style="font-weight: bold; font-size: 16px; margin-top:50px;">
					Scan this Barcode using Google Authenticator app on your phone to use it later in login 
					<a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">Android</a> and 
					<a href="https://itunes.apple.com/us/app/google-authenticator/id388497605">iPhone</a>
				</p>
	<!-- 			<p th:text="${qr}"></p> -->
				<img th:src="${qr}" />
			</div>
			
			<div class="col col-md-10">
			<form th:action="@{/register/validatecode}" method="POST">
				<input type="hidden" name="use2fa" th:value="${user.isUse2fa()}" />
				<input type="hidden" name="secret" th:value="${user.getSecret()}" />
				<input type="hidden" name="qr" th:value="${qr}" />
				
				<input type="hidden" name="username" th:value="${user.getUsername()}" />
				<input type="hidden" name="password" th:value="${user.getPassword()}" />
				<input type="hidden" name="enabled" th:value="${user.isEnabled()}" />
				
				<div class="col col-sm-6 col-md-4">
					<input type="text" class="form-control" placeholder="Code" name="code" />
				</div>
				<div class="col col-sm-6 col-md-8">
					<button class="btn btn-primary" type="submit">Accept</button>
				</div>
			</form>
<!-- 				<a th:href="@{/login?new_user=__${username}__}" class="btn btn-primary">Go to login page</a> -->
			</div>
<!-- 			<div class="col-9 col-sm-9"></div> -->
		</div>
		<span th:if="${error}" class="text-danger">El código introducido es incorrecto, vuelve a intentar...</span>
			
		<br>
		<br>
		<br>
		<br> 
<!-- 		<a th:href="@{/login?message=You cancelled the registration for this username: __${user.getUsername()}__}" class="btn btn-danger">Cancel registration</a> -->
		<a th:href="@{/register/cancel}" class="btn btn-danger">Cancel registration</a>
	</div>
	
	<script type="text/javascript">
		
	</script>
</body>
</html>